


# these three below should never be present here with vite
# but just in case...
.env.development
.env.production

.env.local
.env.local.development
.env.local.production

storybook-static

pnpm-lock.yml


.DS_Store
.cache
.graphqlconfig.yml
.idea/
.parcel-cache
.serverless
.trash
Trash
trash
__pycache__
amplify-build-config.json
amplify-gradle-config.json
amplify/*
amplify/.config/local-*
amplify/\#current-cloud-backend
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/mock-data
amplifyconfiguration.json
amplifytools.xcconfig
awsconfiguration.json
build
coverage
dist
public
node_modules
parcel-bundle-reports
junit.xml

*storybook.log
